___**Enes Cavus - Pandas Practices - Data Science**___

In [1]:
# imports
import pandas as pd
import numpy as np

## Pandas Series - Basic Ones

In [2]:
guitarsDict = {"Acoustic" : 1000,
            "Classic" : 500,
            "Electric" : 2500}
# guitar types as indexes
# guitar prices as datas
type(pd.Series(guitarsDict))

pandas.core.series.Series

In [3]:
pd.Series(guitarsDict)

Acoustic    1000
Classic      500
Electric    2500
dtype: int64

In [4]:
guitarTypes = ["Acoustic","Classic","Electric"]
guitarPrices = [1000,500,2500]
type(pd.Series(index=guitarTypes,data=guitarPrices))

pandas.core.series.Series

In [5]:
pd.Series(index=guitarTypes, data=guitarPrices)

Acoustic    1000
Classic      500
Electric    2500
dtype: int64

In [6]:
# with numpy arrays - numerical Python
guitarNpPrices = np.array([1000,500,2500])
pd.Series(index=guitarTypes, data=guitarNpPrices)

Acoustic    1000
Classic      500
Electric    2500
dtype: int64

In [7]:
# strings as data 
guitarWoodTypes = ["walnut", "rosewood", "ebony"]
pd.Series(data=guitarWoodTypes, index=guitarTypes)

Acoustic      walnut
Classic     rosewood
Electric       ebony
dtype: object

## Pandas DATAFRAMEs

In [8]:
# a frame which has multiple series(columns) together
data = np.random.randint(0,100,9).reshape(3,3)

In [9]:
# df stands for dataframe - most used
df = pd.DataFrame(data)
df

    0   1   2
0  17  66  23
1  40  16  87
2  53  76  56

In [10]:
df = pd.DataFrame(data=data, columns=["Gold", "Silver", "Bronze"],
                 index=["Europe","Asia","USA"])
df

        Gold  Silver  Bronze
Europe    17      66      23
Asia      40      16      87
USA       53      76      56

In [11]:
# Gold medals as pandas series
df["Gold"]

Europe    17
Asia      40
USA       53
Name: Gold, dtype: int64

In [12]:
# gold and silver medals as pandas DataFframe
df[["Gold","Silver"]]

        Gold  Silver
Europe    17      66
Asia      40      16
USA       53      76

### loc & iloc

In [13]:
# iloc uses indexes
df.iloc[1:3]

      Gold  Silver  Bronze
Asia    40      16      87
USA     53      76      56

In [14]:
# get Bronze medals for the 1:3 index range
# make sure to use ONLY index numbers
df.iloc[1:3, 2]

Asia    87
USA     56
Name: Bronze, dtype: int64

In [15]:
# loc usage
df.loc["USA"]

Gold      53
Silver    76
Bronze    56
Name: USA, dtype: int64

In [16]:
df.loc["USA", ["Gold","Silver"]]

Gold      53
Silver    76
Name: USA, dtype: int64

___**Enes Cavus - Pandas Practices - Data Science**___